In [1]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import time

In [3]:
loss = pd.read_csv('../results/agg_losses-all_25.csv', index_col=0,
                   header=0, usecols=[0,4],
                   names=['eid', 'losses'])

events = pd.read_csv('../results/aftershock_ruptures.csv', index_col=0)

In [4]:
eqs = events.join(loss).fillna(0)

In [5]:
mains = eqs.loc[eqs.aid == 0,:]
mains.index = mains.mainshock
afts = eqs.loc[eqs.aid != 0,:]

In [6]:
eq_dates = pd.read_csv('../data/puget_lowland_mean_eq_ages.csv')

In [7]:
mains

,aid,mainshock,mag,lon,lat,depth,day,losses
mainshock,,,,,,,,
Birch_Bay_Uplift,0,Birch_Bay_Uplift,6.888394,-122.973765,48.842685,9.899495,0.0,3.307010e+08
smf_E3,0,smf_E3,7.040799,-123.205373,47.510866,10.125553,0.0,1.006280e+08
crane_lake_eq_1,0,crane_lake_eq_1,6.822074,-122.475853,47.555052,10.336619,0.0,3.404400e+09
SFZ_EQ_A,0,SFZ_EQ_A,6.711235,-122.486680,47.500006,9.899495,0.0,4.681910e+09
kendall_EQB,0,kendall_EQB,6.522146,-122.001308,48.831629,9.899495,0.0,1.462590e+07
crane_lake_eq_2,0,crane_lake_eq_2,6.714995,-122.475853,47.555052,10.336619,0.0,3.107620e+09
DDMFZ_EQ1,0,DDMFZ_EQ1,7.291294,-122.485690,48.423278,10.392305,0.0,6.856890e+08
kendall_EQC,0,kendall_EQC,6.439627,-122.001308,48.831629,9.899495,0.0,1.126970e+07
frigid_EQ_1,0,frigid_EQ_1,6.318581,-123.259852,47.438094,9.969386,0.0,7.200270e+06
smf_E1,0,smf_E1,7.111980,-123.457640,47.430540,10.125553,0.0,1.729080e+08
SFZ_EQ_V,0,SFZ_EQ_V,6.731496,-122.376293,47.543728,10.336619,0.0,3.299900e+09
Utsalady_EQ2,0,Utsalady_EQ2,6.552614,-122.606359,48.350893,10.392305,0.0,1.861070e+08
SWIF_EQ1,0,SWIF_EQ1,7.257345,-122.557556,47.950638,9.829825,0.0,5.789340e+09
SFZ_EQ_B,0,SFZ_EQ_B,6.870640,-122.376279,47.543728,10.336619,0.0,3.699100e+09
sandypt_eqA,0,sandypt_eqA,6.948265,-123.057574,48.779027,9.899495,0.0,2.139120e+08
SFZ_EQE,0,SFZ_EQE,6.770766,-122.345699,47.438992,9.750799,0.0,6.121620e+09
LCBC_EQ3,0,LCBC_EQ3,6.553482,-123.479191,48.113944,9.829825,0.0,1.462080e+08
VasaParkEQ,0,VasaParkEQ,7.011751,-122.370980,47.390093,10.082536,0.0,1.020930e+10
sandypt_eqB,0,sandypt_eqB,6.159994,-122.761511,48.718339,9.899495,0.0,6.220430e+07
kendall_eqA,0,kendall_eqA,6.556128,-122.001308,48.831629,9.899495,0.0,1.630700e+07
SWIF_EQ2,0,SWIF_EQ2,7.323320,-122.549898,47.956700,10.392305,0.0,5.422280e+09
TFZ_EQ,0,TFZ_EQ,7.102858,-122.627359,47.440645,9.829825,0.0,3.404580e+09
West_Point_Sewer_Log_Death,0,West_Point_Sewer_Log_Death,7.711059,-122.378080,47.488548,9.899495,0.0,9.277670e+09
smf_E2,0,smf_E2,6.799908,-123.207611,47.510738,10.125553,0.0,4.314510e+07
RSC5_Death,0,RSC5_Death,7.082924,-123.040693,46.978341,9.899495,0.0,1.018100e+09
Sandy_Point_EQ_C,0,Sandy_Point_EQ_C,6.096222,-122.761511,48.718339,9.899495,0.0,5.511770e+07
Utsalady_EQ1,0,Utsalady_EQ1,6.628767,-122.606359,48.350893,10.392305,0.0,2.048090e+08

In [8]:
eq_dates

                     mainshock       year_bp
0                 Utsalady_EQ2    384.780600
1             Birch_Bay_Uplift    645.201985
2                      SFZ_EQE    748.643246
3                  kendall_EQC    820.859446
4                     SFZ_EQ_D    964.109045
5                       TFZ_EQ   1039.587468
6   West_Point_Sewer_Log_Death   1039.605343
7                   RSC5_Death   1086.524339
8                       smf_E3   1097.048712
9                     SFZ_EQ_C   1269.606613
10            Sandy_Point_EQ_C   1502.823122
11                    LCBC_EQ3   1504.018213
12                Utsalady_EQ1   1737.609369
13                 sandypt_eqB   2207.917509
14                    SFZ_EQ_B   2301.990701
15                   DDMFZ_EQ1   2341.231701
16                      smf_E2   2579.116236
17                 kendall_EQB   3065.821474
18                    LCBC_EQ2   3177.397543
19                 frigid_EQ_1   3354.425266
20                    SWIF_EQ2   3560.138392
21                 sandypt_eqA   4243.246225
22                    SFZ_EQ_A   7024.262180
23                 kendall_eqA   7526.500000
24                    SWIF_EQ1   7698.158162
25                   DDMFZ_EQ2   8085.274754
26                      smf_E1   8631.464924
27                  VasaParkEQ  11184.536872
28                    SFZ_EQ_V  12532.215508

In [9]:
afts.tail()

,aid,mainshock,mag,lon,lat,depth,day,losses
eid,,,,,,,,
2312,30,Utsalady_EQ1,4.996657,-122.639470,48.402674,11.126155,0.0,1742330.0
2313,31,Utsalady_EQ1,4.792326,-122.610061,48.276222,16.372618,0.0,372895.0
2314,32,Utsalady_EQ1,5.017402,-122.484511,48.290831,7.274301,4.0,1201460.0
2315,33,Utsalady_EQ1,5.482194,-122.727451,48.380298,7.976653,7.0,8363960.0
2316,34,Utsalady_EQ1,4.916765,-122.703361,48.263309,12.292316,8.0,528698.0

In [10]:
def cal_yr_to_day(yr):
    return np.round(yr * 365.25)


def year_bp_to_cal_year(year_bp):
    return 1950 - year_bp


def get_eq_days(eq_dates, year_bp=True):
    if year_bp == True:
        eq_dates['cal_year'] = year_bp_to_cal_year(eq_dates['year_bp'])

    eq_dates['day'] = np.int_(np.round(eq_dates.cal_year * 365.25))

    return eq_dates


def get_mainshock_days(main_df, eq_dates):
    
    main_df['cal_day'] = pd.Series(eq_dates.day.values, 
                          index=eq_dates.mainshock)#,dtype='int')

    main_df.cal_day.fillna(0, inplace=True)

    main_df['cal_day'] = np.int_(main_df.cal_day)
    
    return main_df


def get_aftershock_days(aft_df, main_df):
    
    aft_df['cal_day'] = 0
    
    for ms in afts.mainshock.unique():
        md = mains.loc[ms, 'day']
        
        ms_idx = (aft_df['mainshock'] == ms)
        
        aft_df.loc[ms_idx, 'cal_day'] = np.int_(np.round(md + aft_df.loc[ms_idx, 'day']))
        
    return aft_df


def make_day_df(yr_start=-11000, yr_end=1700):
    day_df = pd.DataFrame(index=np.arange(int(yr_start * 365.25), 
                                          int(yr_end * 365.25)),
                          columns=['mainshock_losses', 'aftershock_losses'])
    
    day_df['mainshock_losses'] = 0.
    day_df['aftershock_losses'] = 0.

    return day_df


def calc_daily_losses(day_df, main_df, aft_df):
    for i, eq in main_df.iterrows():
        day_df.loc[eq.day, 'mainshock_losses'] += eq.losses

    for i, eq in aft_df.iterrows():
        day_df.loc[eq.day, 'aftershock_losses'] += eq.losses

    day_df['daily_losses'] = day_df.mainshock_losses + day_df.aftershock_losses

    day_df.fillna(0, inplace=True)

    #return day_df


def rolling_losses(day_df, yrs=1,
                   cols=('daily_losses','mainshock_losses','aftershock_losses')):
    
    if 'daily_losses' in cols:
        day_df['total_{}_yr_sum'.format(yrs)] = day_df['daily_losses'].rolling(
                                             round(yrs*365.25)).sum().fillna(0)
    
    if 'mainshock_losses' in cols:
        day_df['mainshock_{}_yr_sum'.format(yrs)] = \
            day_df['mainshock_losses'].rolling(
                                             round(yrs*365.25)).sum().fillna(0)

    if 'aftershock_losses' in cols:
        day_df['aftershock_{}_yr_sum'.format(yrs)] = \
            day_df['aftershock_losses'].rolling(
                                             round(yrs*365.25)).sum().fillna(0)

    #return day_df

In [11]:
def do_anal(main_df, aft_df, eq_dates, year_bp=True):
    
    main_df = main_df.copy(deep=True)
    aft_df = aft_df.copy(deep=True)
    
    print('eq days...')
    t0 = time.time()
    eq_dates = get_eq_days(eq_dates, year_bp=year_bp)
    t1 = time.time()
    print('done in {:0.1f}s \n'.format(t1-t0))
    
    print('mainshock days...')
    t0 = time.time()
    main_df = get_mainshock_days(main_df, eq_dates)
    t1 = time.time()
    print('done in {:0.1f}s \n'.format(t1-t0))
    
    print('aftershock days...')
    t0 = time.time()
    aft_df = get_aftershock_days(aft_df, eq_dates)
    t1 = time.time()
    print('done in {:0.1f}s \n'.format(t1-t0))
    
    print('make day_df...')
    t0 = time.time()
    day_df = make_day_df()
    t1 = time.time()
    print('done in {:0.1f}s \n'.format(t1-t0))

    print('calc daily losses...')
    t0 = time.time()
    calc_daily_losses(day_df, main_df, aft_df)
    t1 = time.time()
    print('done in {:0.1f}s \n'.format(t1-t0))
    
    print('rolling losses...')
    t0 = time.time()
    for yr in (1, 50):
        rolling_losses(day_df, yrs=yr)
    t1 = time.time()
    print('done in {:0.1f}s \n'.format(t1-t0))
    
    return day_df

In [12]:
t0 = time.time()

dd = do_anal(mains, afts, eq_dates)

t1 = time.time()

print('done in {:.1f} s'.format(t1 - t0))

eq days...
done in 0.0s

mainshock days...
done in 0.0s

aftershock days...
done in 0.1s

make day_df...
done in 0.6s

calc daily losses...
done in 1.3s

rolling losses...
done in 1.3s

done in 3.3 s

In [13]:
mains.tail()

,aid,mainshock,mag,lon,lat,depth,day,losses
mainshock,,,,,,,,
West_Point_Sewer_Log_Death,0,West_Point_Sewer_Log_Death,7.711059,-122.378080,47.488548,9.899495,0.0,9.277670e+09
smf_E2,0,smf_E2,6.799908,-123.207611,47.510738,10.125553,0.0,4.314510e+07
RSC5_Death,0,RSC5_Death,7.082924,-123.040693,46.978341,9.899495,0.0,1.018100e+09
Sandy_Point_EQ_C,0,Sandy_Point_EQ_C,6.096222,-122.761511,48.718339,9.899495,0.0,5.511770e+07
Utsalady_EQ1,0,Utsalady_EQ1,6.628767,-122.606359,48.350893,10.392305,0.0,2.048090e+08

In [14]:
def exceedence_probs(vals):
    
    exc_df = pd.DataFrame(index=np.arange(len(vals.unique())),
                          columns=['loss', 'exceedence_prob'])
        
    for i, u_val in enumerate(sorted(vals.unique())):
        exc_df.iloc[i] = (u_val, len(vals[vals >= u_val]) / len(vals))
        
    return exc_df

In [15]:
dd.columns

Index(['mainshock_losses', 'aftershock_losses', 'daily_losses',
       'total_1_yr_sum', 'mainshock_1_yr_sum', 'aftershock_1_yr_sum',
       'total_50_yr_sum', 'mainshock_50_yr_sum', 'aftershock_50_yr_sum'],
      dtype='object')